@import url("https://fonts.googleapis.com/css?family=Lato");
* {
  box-sizing: border-box;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
}

body {
  font-family: "Lato", sans-serif;
  max-width: 1920px;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px;
  margin: 0 auto;
  overflow: hidden;
}

/* hero */
.hero {
  text-align: center;
  background: url("https://images.unsplash.com/photo-1506399558188-acca6f8cbf41?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=44506d02c01a236c6ac088d527a56568&auto=format&fit=crop&w=839&q=80") 0/cover;
  min-height: 500px;
  line-height: none;
  color: #fff;
  display: flex;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}

.center-content {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  text-align: center;
}

.center-content h1, .center-content h3 {
  color: #fff;
}

.center-content h1 {
  text-transform: uppercase;
  font: 60px "Lato", sans-serif;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 10px;
}

.center-content h3 {
  font: 20px "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

/* section .block-1*/
.about-us,
.services,
.what,
.contact-us {
  min-width: 50px;
  display: flex;
  margin: 80px auto;
  text-align: center;
}

.about-us fieldset,
.services fieldset,
.what fieldset,
.contact-us fieldset {
  width: 50%;
  border: 2px solid;
  margin: 0 auto;
}

.about-us legend,
.services legend,
.what legend,
.contact-us legend {
  min-width: 50px;
  font: 40px "Lato", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  border: none;
  margin: auto;
  padding: 0 80px;
}

.about-us p,
.services p,
.what p,
.contact-us p {
  font: 20px "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  padding: 30px 90px;
  margin: 0;
}

/* section .block-2*/
.block-2 {
  display: flex;
  background: url("https://images.unsplash.com/photo-1513366884929-f0b3bedfb653?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b111fd6819e93137251f2eefe1cf8b9c&auto=format&fit=crop&w=750&q=80");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  opacity: 0.8;
}

/* section .block-3*/
.what-1 {
  margin-top: 50px;
  margin-bottom: 40px;
}

.what-1 .fa {
  margin: 10px;
}

.what-1 h3 {
  margin: 20px 0;
  font: 32px "Lato", sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
}

/* section .block-4*/
.block-4 {
  min-height: 400px;
  opacity: 0.8;
}

.block-4 a {
  text-decoration: none;
}

.img-1 {
  background-image: url("https://images.unsplash.com/photo-1513366976578-e01c21fb9c76?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0318d04addc5050177580a6f4bc152b2&auto=format&fit=crop&w=334&q=80");
}

.img-2 {
  background-image: url("https://images.unsplash.com/photo-1452729993845-01c294f3f913?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4bc37a0a2555834030cd203ae480d69f&auto=format&fit=crop&w=889&q=80");
}

.img-3 {
  background-image: url("https://images.unsplash.com/photo-1501772529219-ed0014f5032c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9dab1f9068d2b059a79cfdc65b2731dd&auto=format&fit=crop&w=334&q=80");
}

.img-4 {
  background-image: url("https://images.unsplash.com/photo-1503507865322-6c069305c4f7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f44e8b579d1d8da3698675da6e72d6cd&auto=format&fit=crop&w=750&q=80");
}

.img-5 {
  background-image: url("https://images.unsplash.com/photo-1505471310026-0071c89ddac5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1894e9b5a302dfe646e9fdfc864a8ca5&auto=format&fit=crop&w=750&q=80");
}

.img-6 {
  background-image: url("https://images.unsplash.com/photo-1468270738566-d3ec1f179d5c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=417d7678a2f5736afa99919566a56aea&auto=format&fit=crop&w=750&q=80");
}

.element {
  min-height: 90px;
  margin: 5px;
  background-position: center;
  background-size: cover;
}

.element h2 {
  font: 22px "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
  position: relative;
  padding-left: 20px;
  top: 130px;
  color: #fff;
  width: 250px;
  margin-right: 0;
}

.flex-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

/* section .block-5*/
.contact-us {
  width: 100%;
}

.contact-us button {
  width: 350px;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #000;
  color: #fff;
  font: 20px "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  border: none;
  cursor: pointer;
}

/* section .footer*/
.footer {
  text-align: center;
  font: 20px "Lato", sans-serif;
  text-decoration: none;
}

/*  */
@media (min-width: 992px) and (max-width: 1199px) {
  /* hero */
  .center-content h3 {
    font: 18px "Lato", sans-serif;
  }
}

/*# sourceMappingURL=style.css.map */